<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XYZ</title>

    @Styles.Render("~/Content/Styles")
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                @RenderBody()

            </div>
        </div>
    </div>

    @Scripts.Render("~/Script/Bundles")
</body>
</html>
